#external
{
    background-color: coral;
    border: 5px;
}
h3{
    text-align: center;
}
p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
background-color: purple;

}
